* {
    margin: 0%;
    border: 0cap;
    padding: 0%;
    font-family: sans-serif;
}

body {
    background-color: rgb(254, 249, 249);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding-left: 3vw;
    padding-right: 3vw; */
    background-color: rgb(3, 3, 86);
    color: white;
    height: 100px;
    /* width: 100vw; */
}

.header h1 {
    margin-left: 25px;
}

.header h1 a {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}
.header h1 a:hover {
    color: #8e9caf;
}

.parte_direita {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.h2_1 {
    margin: 15px;
    
}
.h2_1 h2 a {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}
.h2_1 h2 a:hover {
    color: #8e9caf;
}
.h2_2 {
    margin: 15px;
}
.h2_2 h2 a {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}
.h2_2 h2 a:hover {
    color: #8e9caf;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

 
 /* Meio do site */

.downloads {
    height: 450px;
}

.intel {
    border: solid;
    border-left: 0cap;
    border-right: 0cap;
    border-color: gray;
    display: flex;
    align-items: center;
    padding: 1vw;
    margin-top: 7vw;
    margin-bottom: 3vw;
    font-size: 15px;
}
.intel button {
    margin-left: 10vw;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    background-color: #d7e2f1;
    transition-duration: 0.2s;
    cursor: pointer;
}
.intel button:hover {
    background-color: rgb(16, 16, 79);
    color: white;
}

.amd {
    align-items: center;
    border: solid;
    border-left: 0cap;
    border-right: 0cap;
    border-color: gray;    
    display: flex;
    padding: 1vw;
    margin-top: 5vw;
    margin-bottom: 0.4vw;
    font-size: 15px;
}
.amd button {
    margin-left: 10vw;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    /* position: relative;
    left: 128px; */
    background-color: #d7e2f1;
    transition-duration: 0.2s;
    cursor: pointer;
}
.amd button:hover {
    background-color: rgb(16, 16, 79);
    color: white;
}


 /* Footer */

.footer {
    display: flex;
    height: 120px;
    background-color: rgb(2, 2, 39);
    color: white;
    align-items: center;
    justify-content: space-between;
}

.icone {
    text-decoration: none;
    color: white;
}

.fa-microchip {
    font-size: 30px;
    transition-duration: 0.2s;
}
.fa-microchip:hover{
    color: #8e9caf;
}
.fa-instagram {
    font-size: 30px;
    transition-duration: 0.2s;
}
.fa-instagram:hover {
    color: #8e9caf;
}
.fa-x-twitter {
    font-size: 30px;
    transition-duration: 0.2s;
}
.fa-x-twitter:hover {
    color: #8e9caf;
}

.logo {
    margin-left: 5vw;
    margin-right: 10vw;
}

.instagram {
    margin-left: -5vw;
}

.twitter {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (max-width: 431px) {
    .intel button {
        margin-right: 2vw;
    }

    .intel h1 {
        margin-left: 3vw;
    }

    .amd button {
        margin-right: 2vw;
    }

    .amd h1 {
        margin-left: 3vw;
    }

    /* Parte do menu responsivo */

    .hamburger{
        display: block;
        margin-right: 5vw;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .parte_direita{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: rgb(3, 3, 86);
        /* background: linear-gradient(to right, #000, #fd017d); */
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        opacity: 100%;
    }
    .nav-item{
        margin: 16px 0;;
    }
    .parte_direita.active {
        left: 0;
    }    
}